.contenedor {
    height: 200px;
}
.calculadora {
    margin: auto;
    border: 1px black solid;
    width: 30%;
    height: 100%;
}
.entrada{
    width: 100%;
    margin: auto;
}
#idCuenta {
    width: 95%;
    margin: auto;
}
button {
    text-align: center;
    width: 100%;
}
.limpiar {
    display: inline;
    width: 31%;
}
.btn {
    width: 100%;
}