/* CSS Document */
body {
	background-color:#CCCCCC;
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
}

h2 {
	text-align:center;
	color:#000066;
}

table.tablaGeneral {
	width:50%;
	border:none;
	margin:auto;

}

table.tablaFormulario {
	margin:auto;
	width:100%;
	border:2px solid #000066;
	border-collapse: collapse;
}

td.celdaFormulario {
	height:50px;
	border: 2px solid #000066;
	font-family:Verdana, Geneva, sans-serif;
	font-size:14px;
	color:#000066;
	text-align:left;
	vertical-align:middle;
	padding:5px;
}

.cuadroTexto {
	border:1px solid black;
	width:95%;
}

.cuadroNumber {
	border:1px solid black;
	width:95%;
}

td.botones{
	height:40px;  
	align-items:center;
}

input.boton {
	width:250px;
	background-color: darkGray;
	border:1px solid black;
	font-family:Verdana, Geneva, sans-serif;
	font-weight:bold;
	cursor: pointer;
}

.cursor{
	cursor: pointer;
}

.textoCurso {
	font-size:14px;
	text-align:justify;
	color:#000066;
}

.resaltado {
	font-weight:bold;
	text-decoration:underline;
}

footer{
	font-family:Verdana, Geneva, sans-serif;
	font-size:0.75em;
	color:#000066;
	text-align:center;
}