body{
    background-image: url(../img/perro.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgba(255,255,224,0.6); /*lightyellow*/ 
    background-blend-mode: lighten;
    background-position: top;
}
h1{
    text-align: center;
    color: black;
    text-shadow: 5px -10px 5px grey;
}
h2{
    text-align: left;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: red;
}
#p1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    border: 5px black double;
}
#p2 {
   font-family: Garamond, Vivaldi;
   font-size: 10px;
   letter-spacing: 3px;
   color: green;
   border-color: green;
   border-style: solid dotted double dashed;
   border-width: 3px 3px 3px 3px;
}