h1{
    text-align: center;
}
.form{
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
fieldset{
    text-align: left;
}

.form input{
    width: 90%;
    height: 30px;
    margin: 0.5rem;
}
.form input[type="radio" i]{
    width: 7%;
    height: 20px;
    margin: 0.5rem;
}
.form select{
    width: 90%;
    height: 20px;
    margin: 0.5rem;
}
.form label{
    width: 90%;
    height: 30px;
    margin: 0.5rem;
}