body {
    background-color: #caf0f8;
    color: #03045e;
    font-family: sans-serif, Arial, Helvetica;
}
.negrita {
    font-weight: bold;
}
.leyenda {
    font-weight: 500;
    font-style: italic;
}
.titulo {
    text-align: center;
    text-transform: capitalize;
    text-shadow: 3px -5px 10px;
}
.btnComenzar {
    text-align: center;
    margin: 0% auto;
}
.pregunta {
    text-align: left;
    width: 0% 50%;
}
.form1 {
    margin: 0% auto;
}
.contenido {
    margin: 0% 25%;
}
.botonera {
    margin: 0% 30%;
}