body {
    background-color: #ade8f4;
    color: #03045e;
}
.pagina {
    /* Section pagina */
    margin: 0% 10%;
    /* border: 1px #2f3e46 solid; */
}
.cont {
    /* article/div para el formulario */
    max-width: 50%;
    margin: auto;
    color: #2f3e46;
    border: 1px #2f3e46 solid;
    border-radius: 10px;
}
.form {
    /* Div afuera del form */
    max-width: 90%;
    margin: 2% auto;
    /* text-align: center; */
}
.botonera {
    text-align: center;
}
.entrada { 
    /* Input */
    border: none;
    border-bottom: 1px #2f3e46 solid;
    margin-top: 3%;
    margin-bottom: 3%;
    width: 100%;
    background-color: #caf0f8;
    border-radius: 5px;
}
span{
    /* contenedor de radiobtns */
    display: flex;
    margin: auto;
}
.radiobtn {
    /* radiobtn con bordes */
    border: 1px #2f3e46 solid;
    border-radius: 5px;
    margin-left: 1%;
    margin-right: 1%;
    padding: 0% 2%;
}

.btn {
    /* boton */
    border: 1px #2f3e46 solid;
    border-radius: 5px;
    margin-bottom: 2%;
    padding: 1% 2%;
    cursor: pointer;
}
.titulo {
    text-shadow: 3px 3px 15px;
    text-align: center;
}