body{
    background-color: black;
}
.titulo {
  text-align: center;
  color: white;
}
.juego {
    border: 1px greenyellow dotted;
    background-color: green;
    border-radius: 3px;
    margin: auto 10%;
}
.tablero {
  border: 3px black solid;
  width: 70%;
  margin: 1% auto;
  border-collapse: collapse;
}
.carta {
  cursor: pointer;
  /* box-sizing: content-box; */
  width: 100%;
  height: 100%;
  margin: 1%;
  padding: 5%;
  background-color: greenyellow;
  border-radius: 3px;
  font-weight: bolder;
  font-size: 1em;
}
.botonera {
    text-align: center;
}
.datos {
    font-weight: bolder;
    text-align: center;

}
.piePag {
  margin: 2%;
  color: white;
}