h1{
    text-align: center;
}
.formulario{
    border: 1px black solid;
    margin-right: 10%;
    margin-left: 10%;
}
fieldset{
    border: none;
    display: inline;
    height: 150px;
    width: 150px;
    margin-left: 5%;
}
.btn{
    margin: 2% 50%;
    cursor: pointer;
}