body {
    background-color: #cad2c5;
    color: #2f3e46;
}

.titulo {
    background-color: #52796f;
    text-align: center;
    padding: 1%;
}
.contenedor {
    max-width: 70%;
    margin: auto;
    background-color: #84a98c;
}
.tabla {
    max-width: 50%;
    margin: auto;
}
label {
    text-align: center;
}