h1 {
  text-align: center;
}
.container {
  margin: 1% 25%;
  text-align: center;
}
table {
  width: 100%;
  height: 100%;
}
table,
tr,
td {
  border: 5px black solid;
  border-collapse: collapse;
}
.celda {
  width: 100%;
  height: 150px;
  cursor: pointer;
  font-weight: bolder;
  font-size: larger;
}
.ganador {
  color: green;
  font-weight: bolder;
}
