body{
    background-color: #d8f3dc;
}
table{
    height: 50%;
    width: 50%;
    border: 1px black solid;
    border-collapse: collapse;
    text-align: center;
    font-family: sans-serif;
}
td{
    border: 1px black solid;
    font-style: italic;
}
.img{
    height: 150px;
    width: 150px;
}
h1{
    color: #081c15;
    text-align: center;
}
h3{
    color: #1b4332;
}
p{
    color: #2d6a4f;
}
.pie-pagina{
    font-style: italic;
}
li{
    text-align: start;
}
