h1{
    text-align: center;
}
.formulario{
    border: 1px black solid;
    margin: auto 25%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.titulo-form{
    text-align: center;
}
.campos{
    text-align: right;
}
.btn1, .btn2{
    display: inline-block;
    position: relative;
    margin-left: 15%;
}
.botones{
    margin: 0%  25%;
}