body{
	background-color: #caf0f8;
}
h1{
	font-family:Verdana, Geneva, Tahoma, sans-serif;
	text-align: center; 
	color:#03045e;
}
h3{
	color:#023e8a;
	font-family: sans-serif;
}
p{
	color:#0077b6;
	font-family: sans-serif;
	/*0077b6 - 023e8a*/
}
ul{
	color:#0077b6;
	font-family: sans-serif;
}
.titulo{
	font-family:Arial, Helvetica, sans-serif;
	font-size: 34px;
}
.pie-pagina{
	color: #0077b6;
	text-align: start;
	font-style: italic;
}
.imagen{
	height: 150px;
	width: 300px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
dl{
	color:#0077b6;
	font-family: sans-serif;
}