@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.8.1/font/bootstrap-icons.css");

.contenedor{
    margin-top: 1%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 5px;
}
.img{
    width: 100%;
    height: 50%;
}
.lista{
list-style-image: url(../img/check-circle.svg);
}
.boton{
    background-color: cornflowerblue;
    border-radius: 5px;
    margin: auto;
    width: 50%;
    text-align: center;
    cursor: pointer;
}
.texto-link {
    color: white;
}