.texto {
    font-family: sans-serif;
}
.titulo {
    text-align: left;
    color: blue;
}
.pagina {
    margin: 1% 5%;
}
.contenedor {
    display: grid;
    /*esto genera 3 columnas iguales cuya anchura es 1fr */
    grid-template-columns:1fr 1fr;
    /*establece el espaciado entre los ítems del grid*/
    /* grid-gap:1em; obsoleto */
    column-gap: 1em;
}
.imagenes {
    margin: auto;
}
.desc-img {
    font-size: 10px;
    text-align: center;
}