* {
    font-family: calibri;
    font-style: italic;
    color: green;
}
.descripcion {
    font-style: italic;
}
.negrita {
    font-weight: bold;
}
.titulo {
    text-align: left;
    font-style: normal;
}
.contenedor {
    display: grid;
    grid-template-columns: 0.2fr 1fr;
    column-gap: 1%;
}