.solid{
    border: 5px red solid;
}
.dotted{
    border: 5px red dotted;
}
.dashed{
    border: 5px red dashed;
}
.double{
    border: 5px red double;
}
.groove{
    border: 5px red groove;
}
.ridge{
    border: 5px red ridge;
}
.inset{
    border: 5px red inset;
}
.outset{
    border: 5px red outset;
}