.fuente {
    font-family: sans-serif;
    color: green;
}
.menu {
    text-align: center;
}
.pagina {
    margin-left: 10%;
    margin-right: 10%;
}
.cont-img {
    display: grid;
    grid-template-columns: 1fr;
    margin-top: 1%;
}
.img {
    width: 100%;
}
.contenedor {
    display: grid;
    grid-template-columns: 1fr 280px;
    column-gap: 1%;
}
.titulo {
    padding-bottom: 0px;
    margin-bottom: 0px;
}