h1{
    text-align: center;
}
.formulario{
    border: 1px solid black;
    /* margin: 5px 30% 5px 30%; */
}
.titulo{
    text-align: center;
}
.tabla{
    margin: 1% auto;
}
.area {
    resize: none;
}